body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 3.5rem;
    color: hsl(0, 0%, 20%);
}

.choices{
    margin-bottom: 30px;
}

.choices button{
    font-size: 7.5rem;
    min-width: 160px;
    margin: 0px 10px;
    border-radius: 250px;
    background-color: hsl(209, 92%, 68%);
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.choices button:hover{
    background-color: hsl(209, 75%, 90%);
}

#playerDisplay, #computerDisplay{
    font-size: 2.5rem;
}

#resultDisplay{
    font-size: 5rem;
    margin: 30px 0px;
}

.greenText {
    color: hsl(91, 79.80%, 51.60%);
}
.redText {
    color: hsl(9, 80%, 52%);
}