body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#clock

.buttons {
    padding: 10px 20px;
    color: wheat;
    background-color: chocolate;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover {
    background-color: rgb(233, 140, 74);
}
